//
   Created by vasiliy.lomanov on 18.02.2015.

nav(class="navbar navbar-default" role="navigation")
    ul( class="nav navbar-nav")
        li
            a( href="/") Главная
        if user
            li
                a( href="/calculator") Калькулятор

    ul( class="nav navbar-nav navbar-right")
        if user
            li
                a( href="" )= user.username
            li
                a( href="" onclick="$('<form method=POST action=/logout>').submit();return false") Выйти
        else
            li
                a( href="/login") Войти
