//
   Created by vasiliy.lomanov on 11.06.2015.

extends layout/page
block content
    div(id='content')
    script( src="bower_components/react/react.min.js")
    script( src='socket.js')
    script( src='components/build/DailyNorm.react.js')