extends layout

block content
    - var items = [{label:'Белки',classId: 'proteins', min: 78.3, max: 122},{label:'Жиры',classId: 'triglyceride', min: 30, max: 40},{label:'Углеводы',classId: 'carbohydrate', min: 117.45, max: 174.25},{label:'Ккал',classId: 'calorie', min: 1044, max: 1394}];
    - var daily = [{label:'Завтрак У40-50',classId: 'breakfast'},{label:'Ланч У20-30',classId: 'firstLunch'},{label:'Обед У20-30',classId: 'secondLunch'},{label:'Перекус У15',classId: 'thirdLunch'},{label:'Ужин У10',classId: 'dinner'},{label:'Перед сном У10',classId: 'secondDinner'}];
    div(class='container')
        div
            div(class='table')
                include resultView

            div
                div(class='table')
                    include dailyView

    div(class='container')
        include productsView

    script.

        $('.fly').on("append", function () {
            stroll.unbind($(this));
            stroll.bind($(this));
        });
        var socket = io.connect('', {
            reconnect: true
        });
        io.enable('browser client gzip');
        socket
                .on('connect', function () {
                    console.log("connected");
                })
                .on('disconnect', function () {
                    console.log("disconnected");
                })
    script(src='product.js')
    script(src='utils.js')
    script(src='dailyView.js')
    script(src='products.js')

