extends layout

block content
    div
        div(class='resultDish table')
            div
                div(class='product')
                    p(class='label') Белки
                    p(class='label') Жиры
                    p(class='label') Углеводы
                    p(class='label') Ккал
            div
                div(class='product')
                    p(class='proteins label') 0
                    p(class='triglyceride label') 0
                    p(class='carbohydrate label') 0
                    p(class='calorie label') 0

        div(class='table')
            input(type='date' class='dailyDate')
        div(class='daily table')
            div(class='result')
                div(class='product')
                    p(class='label') Итог
                    p(class='description item') Описание
                    p(class='proteins item') Белки
                    p(class='triglyceride item') Жиры
                    p(class='carbohydrate item') Углеводы
                    p(class='calorie item') Ккал
            div(class='breakfast')
                div(class='product')
                    p(class='label') Завтрак
                    input(class='description item' placeholder='Описание')
                    input(class='proteins item' placeholder='Белки')
                    input(class='triglyceride item' placeholder='Жиры')
                    input(class='carbohydrate item' placeholder='Углеводы')
                    input(class='calorie item' placeholder='Ккал')
            div(class='firstLunch')
                div(class='product')
                    p(class='label') Ланч
                    input(class='description item' placeholder='Описание')
                    input(class='proteins item' placeholder='Белки')
                    input(class='triglyceride item' placeholder='Жиры')
                    input(class='carbohydrate item' placeholder='Углеводы')
                    input(class='calorie item' placeholder='Ккал')
            div(class='secondLunch')
                div(class='product')
                    p(class='label') Обед
                    input(class='description item' placeholder='Описание')
                    input(class='proteins item' placeholder='Белки')
                    input(class='triglyceride item' placeholder='Жиры')
                    input(class='carbohydrate item' placeholder='Углеводы')
                    input(class='calorie item' placeholder='Ккал')
            div(class='thirdLunch')
                div(class='product')
                    p(class='label') Перекус
                    input(class='description item' placeholder='Описание')
                    input(class='proteins item' placeholder='Белки')
                    input(class='triglyceride item' placeholder='Жиры')
                    input(class='carbohydrate item' placeholder='Углеводы')
                    input(class='calorie item' placeholder='Ккал')
            div(class='dinner')
                div(class='product')
                    p(class='label') Ужин
                    input(class='description item' placeholder='Описание')
                    input(class='proteins item' placeholder='Белки')
                    input(class='triglyceride item' placeholder='Жиры')
                    input(class='carbohydrate item' placeholder='Углеводы')
                    input(class='calorie item' placeholder='Ккал')
            div(class='secondDinner')
                div(class='product')
                    p(class='label') Перед сном
                    input(class='description item' placeholder='Описание')
                    input(class='proteins item' placeholder='Белки')
                    input(class='triglyceride item' placeholder='Жиры')
                    input(class='carbohydrate item' placeholder='Углеводы')
                    input(class='calorie item' placeholder='Ккал')
            div(class='newItem additionalProduct')
                div(class='product')
                    button(class='label addButton') +
                    input(class='description item' placeholder='Описание')
                    input(class='proteins item' placeholder='Белки')
                    input(class='triglyceride item' placeholder='Жиры')
                    input(class='carbohydrate item' placeholder='Углеводы')
                    input(class='calorie item' placeholder='Ккал')


    div(class='currentDishProducts table')

    div(class='table allProducts')
        div(class='newProduct product')
            button(class='addProductButton item') +
            input(class='description item' placeholder='Описание')
            input(class='proteins item' placeholder='Белки')
            input(class='triglyceride item' placeholder='Жиры')
            input(class='carbohydrate item' placeholder='Углеводы')
            input(class='calorie item' placeholder='Ккал')
        div
            select(class='sortBy product')
                option(value="description" selected=) Имя
                option(value="proteins") Белки
                option(value="triglyceride") Жиры
                option(value="carbohydrate") Углеводы
                option(value="calorie") Каллории
            select(class='sortOrder product')
                option(value="greater" selected) По возрастанию
                option(value="lower") По убыванию


        div(class='productsList')


    script.
        var templates = $('#templates');
        var addButton = $('.addProductButton');
        var newProduct = $('.newProduct');
        var productsList = $('.productsList');
        var products = [];
        var currentDishProducts = $('.currentDishProducts');
        var resultDish = $('.resultDish');
        var sortBy = $('.sortBy');
        var sortOrder = $('.sortOrder');

        var sortKey = sortBy.find('option:selected').val();
        var order = sortOrder.find('option:selected').val();
        var daily = $('.daily');

        daily.find('input').on('input paste',reCalcDaily);
        function reCalcDaily(){
            var res = {
                proteins: 0,
                triglyceride: 0,
                carbohydrate: 0,
                calorie: 0
            }
            daily.find('.proteins').each(function(){

                res.proteins += +$(this).val();
            });
            daily.find('.triglyceride').each(function () {
                res.triglyceride += +$(this).val();
            });
            daily.find('.carbohydrate').each(function () {
                res.carbohydrate += +$(this).val();
            });
            daily.find('.calorie').each(function () {
                res.calorie += +$(this).val();
            });
            var resEl = $('.result');
            resEl.find('.proteins').text(res.proteins + ' г');
            resEl.find('.triglyceride').text(res.triglyceride + ' г');
            resEl.find('.carbohydrate').text(res.carbohydrate + ' г');
            resEl.find('.calorie').text(res.calorie + ' Ккал');

            saveDaily();
        }
        $('.addButton').click(function(){
            var newItem = getNewItemClone();
            daily.find('.newItem').find('input').val('');
            reCalcDaily();
        });

        (function(){
            var today = new Date();
            var yyyy = today.getFullYear().toString();
            var mm = (today.getMonth() + 1).toString(); // getMonth() is zero-based
            var dd = today.getDate().toString();
            $('.dailyDate').val(yyyy + '-' + (mm[1]?mm:"0"+mm[0]) + '-' + (dd[1]?dd:"0"+dd[0]));
            responseDaily($('.dailyDate').val());
        })();

        $('.dailyDate').on('input propertychange paste', function(){
            var date = $(this).val();
            responseDaily(date);
        });

        function clearDaily(){
            setProductInput(daily.find('.breakfast'), {});
            setProductInput(daily.find('.firstLunch'), {});
            setProductInput(daily.find('.secondLunch'), {});
            setProductInput(daily.find('.thirdLunch'), {});
            setProductInput(daily.find('.dinner'), {});
            setProductInput(daily.find('.secondDinner'), {});

            daily.find('.additionalProduct:not(.newItem)').each(function(){
                $(this).detach();
            });
        }
        function getNewItemClone(){
            var newItem = daily.find('.newItem').clone();
            newItem.find('button').text('-');
            newItem.find('button').click(removeFromCurrentDish.bind(null, newItem, reCalcDaily));
            newItem.removeClass('newItem');
            newItem.find('input').on('input paste', reCalcDaily);
            daily.find('.newItem').before(newItem);

            return newItem;
        }
        function restoreDaily(dailyProducts){
            setProductInput(daily.find('.breakfast'), dailyProducts.breakfast || {});
            setProductInput(daily.find('.firstLunch'), dailyProducts.firstLunch || {});
            setProductInput(daily.find('.secondLunch'), dailyProducts.secondLunch || {});
            setProductInput(daily.find('.thirdLunch'), dailyProducts.thirdLunch || {});
            setProductInput(daily.find('.dinner'), dailyProducts.dinner || {});
            setProductInput(daily.find('.secondDinner'), dailyProducts.secondDinner || {});

            if(dailyProducts.additional)
            for(var i = 0; i < dailyProducts.additional.length; i++){
                var additional = dailyProducts.additional[i];
                var additionalItem = getNewItemClone();
                setProductInput(additionalItem, additional || {});
            }
        }

        function responseDaily(date) {
            clearDaily();
            $.get(window.location.href + "daily", {date: date}, function (data) {
                restoreDaily(data);
            });
        }

        function saveDaily(){
            var date = $('.dailyDate').val();
            //$('.dailyDate').val('2014-06-21')

            var products = {
                breakfast: getProductFromInput(daily.find('.breakfast')),
                firstLunch: getProductFromInput(daily.find('.firstLunch')),
                secondLunch: getProductFromInput(daily.find('.secondLunch')),
                thirdLunch: getProductFromInput(daily.find('.thirdLunch')),
                dinner: getProductFromInput(daily.find('.dinner')),
                secondDinner: getProductFromInput(daily.find('.secondDinner')),
                additional: []
            }

            daily.find('.additionalProduct:not(.newItem)').each(function(){
                products.additional.push(getProductFromInput($(this)));
            });

            var data = {
                date: date,
                products: products
            }
            $.post(window.location.href +  "daily", data)
                    .done(function () {
                        console.log("Daily added");
                    })
                    .fail(function (error) {
                        console.log(error.responseText);
                    });
        }

        sortBy.on('change', function () {
            sortKey = sortBy.find('option:selected').val();
            updateList();
        });

        sortOrder.on('change', function () {
            order = sortOrder.find('option:selected').val();
            updateList();
        });

        getUpdates();

        newProduct.find('input:not(.description)').on('input propertychange paste', validateEl);

        function validateEl() {

            var el = $(this);
            var s = el.val();
            s.replace(',', '.');

            var n = parseInt(s);

            if(isNaN(n) || s === "") {
                el.css('background-color', 'red');
                return false;
            } else {
                el.val(s);
                el.css('background-color', 'green');
                return true;
            }
        }


        addButton.click(function(){

            if( !validateEl.bind(newProduct.find('.proteins'))() ||
                !validateEl.bind(newProduct.find('.triglyceride'))() ||
                !validateEl.bind(newProduct.find('.carbohydrate'))() ||
                !validateEl.bind(newProduct.find('.calorie'))()
            )
            {
                console.error("Wrong product");
                return;
            }

            var product = getProductFromInput(newProduct);
            $.post(window.location.href +  "newProduct", product)
                    .done(function () {
                        console.log("Product added");
                        newProduct.find('.item:not(button)').empty();
                        getUpdates();
                    })
                    .fail(function (error) {
                        console.log(error.responseText);
                    });
        });

        function getUpdates(){
            $.get(window.location.href + "list", function (data) {
                products = data;
                updateList();
            });
        }

        function getProductFromInput(item){
            return {
                description: item.find('.description').val(),
                proteins: item.find('.proteins').val() ,
                triglyceride: item.find('.triglyceride').val(),
                carbohydrate: item.find('.carbohydrate').val(),
                calorie: item.find('.calorie').val()
            }
        }
        function getProductFromP(item) {
            return {
                description: item.find('.description').text(),
                proteins: item.find('.proteins').text(),
                triglyceride: item.find('.triglyceride').text(),
                carbohydrate: item.find('.carbohydrate').text(),
                calorie: item.find('.calorie').text()
            }
        }

        function setProductP(view, product) {

            view.find('.description').text(product.description);
            view.find('.proteins').text(product.proteins);
            view.find('.triglyceride').text(product.triglyceride);
            view.find('.carbohydrate').text(product.carbohydrate);
            view.find('.calorie').text(product.calorie);
        }
        function setProductInput(view, product) {
            view.find('.description').val(product.description || '');
            view.find('.proteins').val(product.proteins || '');
            view.find('.triglyceride').val(product.triglyceride || '');
            view.find('.carbohydrate').val(product.carbohydrate || '');
            view.find('.calorie').val(product.calorie || '');
        }

        function removeFromCurrentDish(view, cb){
            view.detach();
            return cb && cb();
        }

        function addToCurrentDish(product){
            var productView = $('<tr>')
                .append($('<div>')
                    .addClass('product')
                    .append($('<button>').addClass('item remove').text('-'))
                    .append($('<p>').addClass('description item'))
                    .append($('<p>').addClass('proteins item').text('-'))
                    .append($('<p>').addClass('triglyceride item').text('-'))
                    .append($('<p>').addClass('carbohydrate item').text('-'))
                    .append($('<p>').addClass('calorie item').text('-'))
                    .append($('<input>').addClass('mass item').attr('placeholder', 'Вес').attr('value', '100').text('-'))
            );


            setProductP(productView, product);
            productView.find('.remove').click(removeFromCurrentDish.bind(null, productView, reCalc));

            productView.find('input').on('input propertychange paste', reCalc);

            productView.appendTo(currentDishProducts);

            reCalc();
        }

        function reCalc(){
            var res = {
                proteins: 0,
                triglyceride: 0,
                carbohydrate: 0,
                calorie: 0
            }
            currentDishProducts.find('.product').each(function(){
                var item = $(this);
                var product = getProductFromP(item);
                var mass = +(item.find('.mass').val()) / 100;

                res.proteins += +product.proteins * mass;
                res.triglyceride += +product.triglyceride * mass;
                res.carbohydrate += +product.carbohydrate * mass;
                res.calorie += +product.calorie * mass;
            });
            resultDish.find('.proteins').text(res.proteins);
            resultDish.find('.triglyceride').text(res.triglyceride);
            resultDish.find('.carbohydrate').text(res.carbohydrate);
            resultDish.find('.calorie').text(res.calorie);
        }

        function updateList() {
            productsList.empty();

            if(order === 'greater') products = products.sort(function (p1, p2) {return p1[sortKey] > p2[sortKey];});
            else products = products.sort(function (p1, p2) {return p1[sortKey] < p2[sortKey];});

            for(var i = 0; i < products.length; i++){
                var product = products[i];

                var productView = $('<tr>')
                    .append($('<div>')
                        .append($('<button></button>').addClass('item add').text('+'))
                        .append($('<p>').addClass('description item').text('Описание'))
                        .append($('<p>').addClass('proteins item').text('Белки'))
                        .append($('<p>').addClass('triglyceride item').text('Жиры'))
                        .append($('<p>').addClass('carbohydrate item').text('Углеводы'))
                        .append($('<p>').addClass('calorie item').text('Ккал'))
                        .addClass('product'));


                setProductP(productView, product);

                productView.find('.add').click(addToCurrentDish.bind(null, product));


                productView.appendTo(productsList);
            }
        }