extends layout/page

block content

    div(id='app')

    button(id type="button" class="btn btn-primary hardSaveButton" data-loading-text="Сохранение ...") Сохранить


    if(devel)
        script( src='bundle.dev.js')
    else
        script( src='bundle.min.js')
