doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="/bower_components/stroll/css/stroll.min.css")

    script(src="bower_components/jquery/dist/jquery.min.js")
    script( src="/bower_components/socket.io-client/socket.io.js")
    script( src="/bower_components/stroll/js/stroll.min.js")

  body
    block content