//
   Created by vasiliy.lomanov on 21.05.2015.

div(class='resultDish')
    div
        div(class='product inline-block')
            each item in items
                input(disabled class='item' value=item.label)
            input(disabled class='item' value='Масса')

    div(class='defaultDish product inline-block')
        button(class='addButton item') Сохранить
        div(class='blankDescription inline-block')
        div(class='dish')
            p Полное блюдо
            each item in items
                input(disabled class='#{item.classId} item' value=0)
            input(class='mass item' value='0')
        div(class='portion')
            p Порция
            each item in items
                input(disabled class='#{item.classId} item' value=0)
            input(class='mass item' value='0')


    div(class="dishList")
