//
   Created by vasiliy.lomanov on 16.06.2015.

extends layout/page
block content
   div(id='app')
       input(class="description")
       input(class="proteins")
       input(class="triglyceride")
       input(class="carbohydrate")
       input(class="calorie")
       input(class="mass")
       input(class="details")

   script( src='JQcomponents/product.js')

