//
   Created by vasiliy.lomanov on 16.06.2015.

extends layout/page
block content
   div(id='app')
   script( src='socket.js')
   script( src='utils.js')
   script( src='js/PrefixTree.js')
   script( src='js/DeferredCaller.js')
   script( src='components/build/Input.react.js')
   script( src='components/build/Sorting.react.js')
   script( src='components/build/Product.react.js')
   script( src='components/build/ProductList.react.js')
   script( src='components/build/Dish.react.js')
   script( src='components/build/DishProductList.react.js')
   script( src='components/build/DishList.react.js')
   script( src='components/build/App.react.js')