//
   Created by vasiliy.lomanov on 16.06.2015.

extends layout/page
block content
   div(id='content')
   script( src="bower_components/react/react.min.js")
   script( src='socket.js')
   script( src='js/PrefixTree.js')
   script( src='components/build/Input.react.js')
   script( src='components/build/Sorting.react.js')
   script( src='components/build/Product.react.js')
   script( src='components/build/Dish.react.js')
   script( src='components/build/ProductList.react.js')
   script( src='components/build/DishProductList.react.js')
   script( src='components/build/ProductBox.react.js')