.newProduct{
  border: dodgerblue solid 1px;
}
.productsList{

}
.currentDishProducts{
  //border: green solid 1px;
  min-width: 400px;
}
.table{
  width: 100%;
}
.result{
  border: green solid 1px;
}
.item{
  //border: red solid 1px;
}
.product{
  height: 30px;
  border-radius: 20px;
  background-color: #46b8da;
}
.item:not(.description){
  width: 50px;
}
.description{
  width: 200px;
}
.label{
  //border: blue solid 1px;
  width: 65px;
}

.hiden{
  display: none;
}

td{
  vertical-align: top;
}

.result p{
  margin: 0;
}
.label{
  //border: blue solid 1px;
  width: 65px;
}
.result .item{
  width: 65px;
  margin: 0;
}