body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.products{
  border: dodgerblue solid 1px;
}
.item{
  border: dodgerblue solid 1px;
}
.newProDuct{
  border: dodgerblue solid 1px;
}