doctype html
html
    head
        title= title

        link(rel='stylesheet', href='/stylesheets/main.css')

        script(src="bower_components/jquery/dist/jquery.min.js")
        script(src="bower_components/socket.io-client/socket.io.js")
        script(src="bower_components/async/lib/async.js")
        script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(src="bower_components/bootstrap-dialog/dist/js/bootstrap-dialog.min.js")
        script(src="bower_components/react/react.min.js")
        script(src="bower_components/mathjs/dist/math.min.js")

    body(class='container-fluid')
        include ../partials/topNavigation
        block content