doctype html
html
    head
        title= title

        link(rel='stylesheet', href='/stylesheets/main.css')

        script(src="3rd.js")

    body(class='container-fluid')
        include ../partials/topNavigation
        block content